extends layout

block content

  table.table.table-striped.table-hover
   thead: tr
     th №
     th Задание
     th Автор
   tbody
     each task in tasks
       tr
        td #{task.id}
        td: a(href=task.id) #{task.title}
        td #{task.author}
