extends layout

block content

  table.table.table-striped.table-hover
   thead: tr
     th №
     th Задание
     th Описание
   tbody
     each task in tasks
       tr
        td #{task.ID_TASK}
        td: a(href=task.href) #{task.TASKNAME}
        td #{task.TEXT}
