doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body

    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/') Golf Programming
        ul.nav.navbar-nav
          li: a(href='/users') Топ пользователей
          li: a(href='#') Контакты
        button.btn.btn-primary.navbar-btn(type="button") Список задач
        ul(class='nav navbar-nav navbar-right')
          li: a(href='#')
              span(class='glyphicon glyphicon-user') Регистрация
          li: a(href='/login')
              span.glyphicon.glyphicon-log-in Логин

  block content
